body {
	background: url(Pers.jpg);
	overflow: hidden;
}
#H1 {
	baCKground-color: #ffe5b4;
}
#color {
	baCKground-color: #ffe5b4;
	font-size: 20;
	position: relative;
	bottom: 22px;
	font-weight: bold;
}

@media screen and (max-width:1200px) {
#h1 {
   font-size:56px;
	}	
}

@media screen and (max-width:998px) {
h1 {
	font-size: 46px;
	}
	
